<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>


    <script>

        $(document).ready(function () {

        })


        const test = () => {
            var q = $("#q").val()

            $.get("test", { q }, function (rt) {
                $("#data").html(rt)
            })
        }

    </script>


</head>

<body>

    <input type="text" id="q">
    <button onclick="test()">Submit</button> 
    <div id="data"></div>

    <br>
    <hr>
    <br>

    <input type="text" id="search_input">
    <div id="search_data"></div>

</body>

</html>
